/**
 * @name Polocraft Theme
 * @author Aaron_PC#0001
 * @version 1.0
 * @description Muestra tu discord con vista transparente al fondo que puedas tener en escritorio de manera facil.
 * @website https://aarongamerbuses.blogspot.com
*/
/*
Bienvenido a este nuevo tema ;)
*/

@import url("https://github.com/AaronGamerYT12/Polocraft-Discord-Theme/blob/master/base.css");

/* BlackBox user tags */
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");

:root {
  /* Image variables */
  --BG-image: url("https://i.imgur.com/kYW2H5C.jpg");  /* Debe ser el link con terminal de archivo, no una completa de imagen. */
  --BG-image-blur: 5px;  /* Puede terminar en px (0px) | DEFAULT: 5px */

  /* Brightness variables */
  --BG-serverlist-brightness: 0.8;  /* 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --BG-left-brightness: 0.8;  /* 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --BG-right-brightness: 0.6;  /* 0 - 1 (decimals allowed) | DEFAULT: 0.6 */
  --BG-popout-brightness: 0.7;  /* 0 - 1 (decimals allowed) | Usually darker than --BG-right-brightness | DEFAULT: 0.7 */

  /* Tint variables */
  --BG-tint-colour: 255, 51, 159;  /* Colour of tint. Follow Gradient Variables instructions to get your desired colour | DEFAULT: 255, 51, 159 */
  --BG-tint-brightness: 0;  /* Intensity of --BG-tint-colour | 0 - 1 (decimals allowed) | DEFAULT: 0 */

  /*
    Gradient variables
    Use this website: https://htmlcolorcodes.com/color-picker/
    to get your desired RGB numbers. Then simply put each number in their respective area.
    R,G,B
  */
  --BG-gradient-one: 103,58,183;  /* DEFAULT: 103,58,183 */
  --BG-gradient-two: 63,81,181;  /* DEFAULT: 63,81,181 */
  --BG-gradient-direction: -45deg;  /* DEFAULT: -45deg */

  /* Other variables */
  --BG-window-padding: 20px;  /* Space between Discord window and Discord itself | DEFAULT: 20px */
  --BG-window-roundness: 10px;  /* Edges of Discord | DEFAULT: 10px */
  --BG-left-right-split: 0;  /* Space between channels/dm's and chat/members list | DEFAULT: 0 */

  /*
    To use a custom font. Visit https://fonts.google.com and select one to your liking.
  */
  --BG-font: "Whitney";
  /* Font of Discord | DEFAULT: Whitney */
}

/*
 C.A Polocraft Networks de Venezuela
 Youtube: /AaronGamerYT12
 GitHub: /AaronGamerYT12
 twitter: /AaronGamerYT12
 Discord: Aaron_PC#0001
 Donate at paypal.me/PolocraftVE
*/
